/*
 * @Author: saber2pr 
 * @Date: 2019-04-23 12:05:34 
 * @Last Modified by: saber2pr
 * @Last Modified time: 2019-04-23 12:37:05
 */
* {
  margin: 0;
  padding: 0;
}

img {
  width: 50%;
}

#async2 {
  width: 50%;
  height: 50vh;
  background-color: aquamarine;
}